<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    	
    	<!-- <property name="show_sql">true</property>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>  
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>  
        <property name="connection.username">system</property>  
        <property name="connection.password">oracle</property>  
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property> -->  
        
        <!-- <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>  
		<property name="hibernate.cache.use_second_level_cache">true</property> -->
    
        <mapping class="com.ssengineering.model.Part" />
        <mapping class="com.ssengineering.model.SubPart" />
        <mapping class="com.ssengineering.model.Customer" />
        <mapping class="com.ssengineering.model.Purchase" />
        <mapping class="com.ssengineering.model.PurchaseDetail" />
        <mapping class="com.ssengineering.model.Sale" />
        <mapping class="com.ssengineering.model.SaleDetail" />
    </session-factory>
</hibernate-configuration>